<h1>Which prefecture is this?</h1>
<%# <img src="<%= asset_path(@prefecture.image) %>" alt="<%= @prefecture.name %>"> %>

<form action="/check" method="post">
  <%= hidden_field_tag :prefecture_id, @prefecture.id %>
  <input type="text" name="answer" placeholder="Enter prefecture name">
  <button type="submit">Submit</button>
</form>